
<div class= "container w-50, p-3 mb-2 bg-success text-white" th:fragment="publication_fragment">

    <div class = "row justify-content-md-center">
        <div class="col">
            <p th:text="author"></p>
        </div>
    </div>

    <div class = "row justify-content-md-center">
        <div class="col">
            <p th:text="${publication.getNameOfPublication()}"></p>
        </div>
    </div>

    <div class = "row justify-content-md-center">
        <div class="col">
            <p th:text="${publication.getId()}"></p>
        </div>
        <div class="col">
            <a th:href="@{/boards/{boardName}/{publicationId}(boardName=${board.getName()},publicationId = ${publication.getId()})}" th:text="${publication.getNameOfPublication()}"></a>
        </div>
    </div>

    <div class = "row justify-content-md-center">
        <div class="col">
            <p th:text="${publication.getTextOfPublication()}"></p>
        </div>
    </div>


    </br>
    </br>

</div>

