<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <title>Publication Page</title>
  <div th:replace="fragments/common :: common_head"></div>

  <script type="text/javascript" th:src="@{/js/boards/publications/commentForm.js}"></script>
</head>

<body>

<div th:insert ="fragments/navbar :: top_navigation_bar"></div>

<h1>Hello, it is publication page</h1>

<p th:text="${publication.getNameOfPublication()}"></p>
<p th:text="${publication.getTextOfPublication()}"></p>

<p> Comments : </p>

<div th:each="comment: ${publication.getComments()}">
  <p th:text="${comment.getId()}"></p>
  <p th:text="${comment.getTimeOfComment()}"></p>
  <p th:text="${comment.getTextOfComment()}"></p>
</div>

<div>
  <p>Leave your comment:</p>
      <label for="textOfComment">Enter text: </label>
      <input type="text" id="textOfComment"/>
      <br/>
  <button onclick="sendCommentRest()"> Send comment </button>
</div>

</body>

</html>