<div th:fragment="publication_form_fragment" class="container" >

    <form name="publication_form_name" id="publicationFormId" th:method="POST" th:action="@{/boards/{boardName}(boardName=${board.getName()})}" th:object="${publication}"  >

        <div class="form-group row">
            <label for="nameOfPublication" class="col-sm-2 col-form-label">Enter name: </label>
            <div class="col-sm-10">
                <input id="nameOfPublication" type="text" th:field="*{nameOfPublication}"  class="form-control"/>
                <div style="color:red" th:if="${#fields.hasErrors('nameOfPublication')}" th:errors="*{nameOfPublication}">text error</div>
            </div>
        </div>

        <div class="form-group">
            <label for="textOfPublication">Enter text: </label>
            <textarea th:field="*{textOfPublication}" id="textOfPublication"  class="form-control" placeholder="Write your message here." rows="4"></textarea>
            <div style="color:red" th:if="${#fields.hasErrors('textOfPublication')}" th:errors="*{textOfPublication}">text error</div>
        </div>

        <div class="col-md-12">
            <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                            " value="Publish" >
        </div>

    </form>
</div>