<html>
<body>
<div th:fragment="common_head">
    <meta charset="UTF-8">

<!--    bootstrap webjars-->
    <link th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css" >
    <script th:src="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.js}" type="text/javascript"> </script>

<!--    jquery webjars-->
    <script th:src="@{/webjars/jquery/3.6.1/dist/jquery.min.js}" type="text/javascript"> </script>

    <!--    jquery validation webjar-->
    <script th:src="@{/webjars/jquery-validation/1.19.3/dist/jquery.validate.js}" type="text/javascript"> </script>

    <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>

</div>
</body>
</html>