<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>NavigationBar</title>

</head>
<body>

<div th:fragment="top_navigation_bar">

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a sec:authorize="isAnonymous()" class="navbar-brand" th:href="@{/}">Home</a>
  <a sec:authorize="isAnonymous()" class="navbar-brand" th:href="@{/auth/login}">Sign in</a>
  <a sec:authorize="isAnonymous()" class="navbar-brand" th:href="@{/registration}">Sign up</a>

  <div sec:authorize="isAuthenticated()">
    <form th:action="@{/auth/logout}" th:method="POST">
      <input type="submit" value="Log out!">
    </form>
  </div>

  <a sec:authorize="isAuthenticated()" class="navbar-brand" th:href="@{/profile}">Profile</a>

</div>

</body>
</html>